body {
    background-image:url("http://eskipaper.com/images/awesome-background-images-4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: fantasy;
    margin-left: 20px;
    margin-right: 20px;
}
header{
    text-align: center;
    color: seagreen;
}
.somethingButton {
    font-family: fantasy;
}
.somethingButton:hover {
    background-color: red;
    box-shadow: 5px 5px 2.5px gray; 
}
.jumbotron {

    box-shadow: 10px 10px 5px black;
}
.jumbotron:hover {
    box-shadow: 15px 15px 10px black;
}
.footer {
    padding-top: 200px;
    text-align: center;
}
.container {
    padding-top: 20px;
}
.row {
    padding-bottom: 20px;
}
#add-something:hover{
    background-color: royalblue;
    box-shadow: 5px 5px 2.5px gray;
}
input:hover {
    background-color: linen;
}
label {
    color: white; 
}
legend{
    color: white;
}
